/*DEVELOPER: KRISHANG PATEL, IS117-006, Spring 2022 */

body {
    background-image: url("../Images/background.jpg");
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.logo {
    width: 20%;
    height: 20%;
    margin-right: 500px;
}

.center {
    margin: auto;
    width: 60%;
    border: 5px solid #78c0a9;
    padding: 10px;
    margin-top:200px;
    background-color: rgba(69, 235, 196, 0.464);
    color: white;
    float: clear;
}

.motorcycleImg {
    width: 40%;
    height: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
}

.content h4{
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration:  overline;
}

.content p,ul{
    text-align: center;
    color: white;
}

.content h5{
    text-align: center;
    color: white;
    font-weight: bold;
}

.content ul li{
    list-style-type:none;
}

.fontColor {
    color: black;
}